<beans:beans xmlns="http://www.springframework.org/schema/security"
xmlns:beans="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		https://www.springframework.org/schema/security/spring-security.xsd">
	
	<http auto-config="true">
		<form-login/>
		<intercept-url pattern="/adminPanel" access="hasRole('ROLE_ADMIN')"/>
		<intercept-url pattern="/userPanel" access="hasRole('ROLE_USER')"/>

	</http>
	
	<authentication-manager>
		<authentication-provider>
		<password-encoder hash="bcrypt"/>
			<user-service>
				<user name="admin" password = "$2a$12$TWGShH8PnY9Wp2NXVva3euY4lka7nqf.SQeEhyj.YRGzFtTRflPh6" authorities="ADMIN"/>
				<user name="user" password = "$2a$12$NJIO/sqNW7oPznYrFsXuR.9KmHM7afjoqa3/DOuiseOI63xqq46KK" authorities="USER"/>
			</user-service>
		</authentication-provider>
	
	</authentication-manager>
	
</beans:beans>